body {
    background-color: grey;
}
h1 {
   color: aquamarine;
   font-size: 3.5em;
}
li {
    font-size: 20px;
    background-color: lightblue;
    color: green;
}
.paaritu {
    color: brown;
}
#konteiner {
    background-color: ivory;
}